.user-table {
    width: 100%;
  }
  
  .mat-mdc-row .mat-mdc-cell {
    border-bottom: 1px solid currentColor;
    border-top: 1px solid currentColor;
  }
  .table-container{
    margin: 50px;
  }
  .button-container {
    display: flex;
    justify-content: right;
    width: 100%;
    margin-bottom: 20px;
    margin-right: 20px;
  }
  .edit-icon{
    margin-top:10px !important;
  }
