<div class="header">
  <h1 class="heading">Change your password</h1>
  @if(!isRedirectMessageVisible){

  <h3 class="sub-heading">
    As per organization policy, passwords must be reset after initial sign in.
    Please change your password here to continue.
  </h3>
  } @if(isRedirectMessageVisible){
  <h3 class="sub-heading">
    Password has been reset successfully.You will be redirected to the sign in
    page to sign in with new credentials.
  </h3>
  }
</div>
@if(!isRedirectMessageVisible){
<div class="centered-container">
  <p>
    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Current Password</mat-label>
      <input matInput type="password" [(ngModel)]="currentPassword" />
      @if (currentPassword) {
      <button
        matSuffix
        mat-icon-button
        aria-label="Clear"
        (click)="currentPassword = ''"
      >
        <mat-icon>cancel</mat-icon>
      </button>
      }
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="outline" class="form-field">
      <mat-label>New Password</mat-label>
      <input matInput type="password" [(ngModel)]="newPassword" />
      @if (newPassword) {
      <button
        matSuffix
        mat-icon-button
        aria-label="Clear"
        (click)="newPassword = ''"
      >
        <mat-icon>cancel</mat-icon>
      </button>
      }
    </mat-form-field>
  </p>
  <div class="sign-in-button">
    <button
      class="expanded-button"
      mat-flat-button
      color="primary"
      (click)="resetPassword()"
      [disabled]="currentPassword === '' || newPassword === ''"
    >
      Proceed
    </button>
  </div>
</div>
}
